@model WebApplication1.Models.CreditViewModels
@{
    ViewBag.Title = "Usuario";
}
<style>
    th, td {
        padding: 15px;
        font-weight: bold;
    }
</style>
<div class="jumbotron">
    <p class="lead">
        Elige uno de nuestros paquetes de servicio.
        <img src="~/Content/Int.png" alt="Internet" width="50">
        <img src="~/Content/Telef.png" alt="Internet" width="50">
        <img src="~/Content/Telev.png" alt="Internet" width="50">
    </p>
</div>

<div class="row">
    <table align="center" style="width:80%">
        <tr>
            <th colspan="2" style="text-align:center">Servicios y paquetes</th>
            <th style="text-align:center">Precios</th>
        </tr>
        @foreach (var servicio in Model.Servicios)
        {
            <tr style="background-color:#FFE6E6">
                <td style="text-align:center">
                    <input checked="checked"
                           id="1"
                           name="Select"
                           type="radio" />
                </td>
                <td>@servicio.Descripcion</td>
                <td style="text-align:center">$@servicio.Precio</td>
            </tr>
        }
    </table>    
</div>


@*<div class="row">
    <table align="center" style="width:80%">
        <tr>
            <th colspan="2" style="text-align:center">Servicios y paquetes</th>
            <th style="text-align:center">Precios</th>
        </tr>
        <tr style="background-color:#FFE6E6">
            <td style="text-align:center">
                <input checked="checked"
                       id="1"
                       name="Select"
                       type="radio" />
            </td>
            <td>Telefonía</td>
            <td style="text-align:center">$100</td>
        </tr>
        <tr style="background-color:#FFCCCC">
            <td style="text-align:center">
                <input id="2"
                       name="Select"
                       type="radio" />
            </td>
            <td>Televisión</td>
            <td style="text-align:center">$300</td>
        </tr>
        <tr style="background-color:#FFB3B3">
            <td style="text-align:center">
                <input id="3"
                       name="Select"
                       type="radio" />
            </td>
            <td>Telefonía+Televisión</td>
            <td style="text-align:center">$350</td>
        </tr>
        <tr style="background-color:#FF9999">
            <td style="text-align:center">
                <input id="4"
                       name="Select"
                       type="radio" />
            </td>
            <td>Internet 10 MEGAS</td>
            <td style="text-align:center">$300</td>
        </tr>
        <tr style="background-color:#FF8080">
            <td style="text-align:center">
                <input id="5"
                       name="Select"
                       type="radio" />
            </td>
            <td>Internet 20 MEGAS</td>
            <td style="text-align:center">$350</td>
        </tr>
        <tr style="background-color:#FF6666">
            <td style="text-align:center">
                <input id="6"
                       name="Select"
                       type="radio" />
            </td>
            <td>Telefonía+Internet 20 MEGAS</td>
            <td style="text-align:center">$380</td>
        </tr>
        <tr style="background-color:#FF4D4D">
            <td style="text-align:center">
                <input id="7"
                       name="Select"
                       type="radio" />
            </td>
            <td>Televisión+Internet 20 MEGAS</td>
            <td style="text-align:center">$450</td>
        </tr>
        <tr style="background-color:#FF3333">
            <td style="text-align:center">
                <input id="8"
                       name="Select"
                       type="radio" />
            </td>
            <td>Telefonía+Televisión+Internet 20 MEGAS</td>
            <td style="text-align:center">$500</td>
        </tr>
    </table>
</div>*@

@using (Html.BeginForm("Paquetes", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Ingrese la información requerida para la forma de pago.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Titular, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Titular, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Clabe, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Clabe, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Clave, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Clave, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Continuar" />
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
