@model WebApplication1.Models.RegistroTrabajo
@{
    ViewBag.Title = "Administrador";
}
<div class="jumbotron">
    <h1>Detalles de trabajo</h1>
</div>

<section id="loginForm">
    @using (Html.BeginForm("Aprobar", "Administrador", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <th>
                    <h3>No. Registro de trabajo</h3>
                </th>
                <td>
                    @Html.DisplayFor(x => x.RegistroTrabajoId)
                </td>
            </tr>
            <tr>
                <th>
                    <h3>No. Empleado</h3>
                </th>
                <td>
                    @Html.DisplayFor(x => x.TecnicoId)
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Horas trabajadas</h3>
                </th>
                <td>
                    @Html.DisplayFor(x => x.HorasTrabajadas)
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Fecha</h3>
                </th>
                <td>
                    @Html.DisplayFor(x => x.Fecha)
                </td>
            </tr>
            <tr>
                <th>
                    <h3>Estado de nomina</h3>
                </th>
                <td>
                    @Html.DisplayFor(x=>x.status_str  )
                </td>
            </tr>

        </table>

        <br />
        <div class="row">
            <div class="text-center">
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Cambiar estado" />
                </div>
            </div>
        </div>
    }
</section>

